.side-nav{
  font-size: 15px;
  flex-wrap: wrap;
  list-style: none;
}
.note{
  font-style: italic;
}
.form-cards{
  padding-bottom: 15px;
  border-bottom: 2px gray solid;
}
.card-headers{
  color: white;
  background-color: #34495E;
  font-family: 'Optima'
}
